body {
  background-color:#F5F8FA;
  font-family: 'Lato', sans-serif;
  background: url("../img/bg.jpg");
}

h1 {
  font-weight: 700;
  font-family: Lato,appleLogo,sans-serif;
  margin: 0 0 1rem;
  margin-top:30px;
  font-size:36px;
}

h2 {
  font-style:italic;
}

.loading h2, .loading h3 {
  color:white;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tech-icon {
  width:100px;
  margin-right:20px;
  margin-top:30px;
}
.tech-icon-wide, .babel-icon {
  height:90px;
  margin-top:30px;
}

p {
  margin:30px;
  font-size:16px;
}
.navbar-default {
  font-weight: 900;
  background: #dfa941;
  border-radius: 0;
  border: 0;
  font-size: 20px;
  padding-top: 10px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.navbar-default a {
  font-weight:bold;
  color:white;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
  padding:10px;
  margin-top:40px;
}

.card input {
  font-size:18px;
}

.sign-up-form label {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

.sign-up-form button {
  background: #2ab27b;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: Lato,appleLogo,sans-serif;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-bottom: 30px;
}

.clear {
  clear:both;
}

.orSignIn a {
  font-size:18px;
  color:#2a7bb2;
  font-weight:bold;
}

form .error {
  color:red;
  font-size:12px;
  margin-top:4px;
  font-weight:bold;
}

.side-pane {
  background: #4D5250;
  width: 200px;
  height: 100%;
  float:left;
  color:white;
  overflow-y:scroll;
  padding: 10px;
}

.chat-window {
  height: -moz-calc(100vh - 50px); /* Firefox */
  height: -webkit-calc(100vh - 50px); /* Chrome, Safari */
  height: calc(100vh - 50px); /* IE9+ and future browsers */
}

.team-name {
  font-family: Lato,appleLogo,sans-serif;
  font-weight:700;
  font-size:20px;
  margin-bottom:3px;
}

.green-circle {
  height:10px;
  width:10px;
  border-radius: 100%;
  background-color:#96CD49;
  float:left;
  margin-top:12px;
}

.side-pane .nickname {
  font-size: 14px;
  font-weight:200;
  color:#C6C7C7;
  float:left;
  margin-top:5px;
  margin-left:8px;
}

.channels {
  clear: both;
  color: #EEE;
  font-size: 13px;
  padding-top: 20px;
  font-weight: 400;
}

.channels .header {
  opacity: 0.6;
}

.channels .number {
  color: #999999;
}

.hashtag {
  float: left;
  font-weight: 200;
  opacity: 0.6;
}

.channelName {
  float: left;
  font-weight: bold;
  color: white;
  opacity: 1;
  margin-left: 4px;
}

.channelList {
  margin-top: 10px;
  font-size: 16px;
}

.users {
  clear: both;
  padding-top: 20px;
}

.users .header {
  float: left;
  color: white;
  opacity: 1;
  margin-left: 4px;
  opacity: 0.6;
  font-size: 13px;
  font-weight: 700;
}

.users .header .number {
  opacity: 0.4;
  font-weight:200;
}

.user-status {
  clear:both;
  padding-top: 6px;
  padding-left: 12px;
}

.inactive-circle {
  height:10px;
  width:10px;
  border-radius: 100%;
  border-color: #FFF;
  opacity: 0.6;
  border: 2px solid #CCC;
  float:left;
  margin-top:11px;
}

.user-status .nickname {
  font-size:15px;
  font-weight:300;
}

.nickname.inactive {
  font-style: italic;
}
